

<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere impedit ipsam consequatur fugit? Natus, beatae?</h4>
            </div>
            <div class="card-body">
                <p class="lead">
                    {{urlIframe}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi facere minima dignissimos ipsum similique rerum minus cumque quas sint quis, ducimus inventore saepe, quaerat dolore odit iure labore quasi dolores? Deserunt harum reprehenderit sapiente laborum enim, rerum et aut nisi provident officia modi consequatur perferendis inventore unde aliquam mollitia ut. Est beatae cumque maxime architecto animi veritatis vitae magni perferendis ipsa quaerat amet ducimus nobis inventore omnis rem, dolores, consequuntur odit. Culpa voluptatem doloremque dolores voluptates, alias, officia nemo eos nulla quam porro adipisci id omnis! Animi, in veniam. A ab excepturi dignissimos ipsum, voluptates voluptas nisi quod deserunt!
                </p>
            </div>
        </div>
        <div class="card">
            <div class="embed-responsive embed-responsive-16by9">
                <!-- <iframe class="embed-responsive-item" src="{{ urlIframe }}" allowfullscreen></iframe> --> 
                <iframe class="embed-responsive-item" src="https://examen.intrant.gob.do/Home/registro" allowfullscreen></iframe>
            </div>
        </div>
         
    </div>
</div>
<!-- <app-footer></app-footer> -->
  