<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Información general</h4>
              <p class="card-category">Detalle del curso</p>
          </div>
          <div class="card-body">
            <quill-editor>
                <!-- <div quill-editor-toolbar>
                  
                </div> -->
            </quill-editor>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Guardar cambios</button>
            <div class="clearfix"></div>
              <!-- <quill-view-html [content]="htmlstring" theme="snow"></quill-view-html> -->
            

              <!-- <div id="typography">
                  <div class="card-title">
                      <h2>Lorem ipsum dolor sit amet.</h2>
                  </div>
                  <div class="row">
                      
                      <div class="col-12">
                          <span class="tim-note">Paragraph</span>
                          <p class="lead">
                              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                      </div>
                      
                      <div class="col-12">
                          <p class="">
                              <span class="tim-note">Paragraph</span>
                              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                      </div>

                      <div class="col-12">

                        <ul class="list-unstyled">
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>
                                I will be the leader of a company that ends up being worth billions of dollars.
                                <ul>
                                    <li>#1</li>
                                    <li>#2</li>
                                    <li>#3</li>
                                    <li>#4</li>
                                    <li>#5</li>
                                </ul>
                            </li>
                            <li>
                                Faucibus porta lacus fringilla vel
                            </li>
                            <li>Aenean sit amet erat nunc</li>
                        </ul>
                     </div>
                      
                      <div class="col-12">
                          <span class="tim-note">Warning Text</span>
                          <p class="text-warning">
                              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                          </p>
                      </div>
                      <div class="col-12">
                          <span class="tim-note">Danger Text</span>
                          <p class="text-danger">
                              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                      </div>
                      
                  </div>
              </div> -->
          </div>
      </div>
  </div>
  