<div class="wrapper_custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Change Password</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <!-- <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                    <input matInput formControlName="newPassword" placeholder="New password" type="password">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Confirmed password" type="password">
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>{{ 'enter' | translate }} {{ 'your' | translate }} {{ 'new' | translate }} {{ 'password' | translate }} </mat-label>
                                      <input matInput formControlName="newPassword" [type]="hide ? 'text' : 'password'" placeholder="{{ 'enter' | translate }} {{ 'your' | translate }} {{ 'new' | translate }} {{ 'password' | translate }}">
                                      <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                      </button>
                                      <mat-error *ngIf="form.controls.newPassword.hasError('required')">
                                        {{ 'password' | translate }} {{ 'is' | translate }} <strong>{{ 'required' | translate }}</strong>
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>{{ 'confirmed_password' | translate }}</mat-label>
                                      <input matInput formControlName="password_confirmed" [type]="hide ? 'text' : 'password'" placeholder="{{ 'confirmed_password' | translate }}">
                                      <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                      </button>
                                      <mat-error *ngIf="form.controls.password_confirmed.hasError('required')">
                                        {{ 'confirmed_password' | translate }} {{ 'is' | translate }} <strong>{{ 'required' | translate }}</strong>
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="this.form.invalid">{{ 'update' | translate }} {{ 'password' | translate }}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
                
        </div>
      </div>
</div>


<app-footer></app-footer>