<!-- <mat-toolbar> -->
    <div class="button-row">
        <span class="title" >{{ flightService.form.controls['id'].value? "Editar" : "Crear" }}</span>
        <button class="btn-dialog-close float-right" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
      </div>
    <!-- </mat-toolbar> -->
    <div class="mdc-form-field">
      <form [formGroup]="flightService.form" class="normal-form" (submit)="onSubmit()">
          <div class="controles-container">
            <input type="hidden" formControlName="id">
            <!--  -->
              
            <mat-form-field appearance="fill">
                <mat-label>Pais de origen</mat-label>
                <mat-select formControlName="countryFrom">
                    <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id" >
                    {{pais.name}}
                    </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Pais de destino</mat-label>
                <mat-select formControlName="countryTo">
                    <mat-option *ngFor="let pais of paisDestino" [value]="pais.id" >
                    {{pais.name}}
                    </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Avión</mat-label>
                <mat-select formControlName="planes_id">
                    <mat-option *ngFor="let avion of aviones" [value]="avion.id" >
                    {{avion.name}}
                    </mat-option>
                </mat-select>
                </mat-form-field>

                <mat-form-field class="form__input">
                <mat-label>Hora de salida</mat-label>
                <input matInput placeholder="Hora de salida" type="text" formControlName="horaSalida">
                </mat-form-field>
            
                <mat-form-field class="form__input">
                <mat-label>Hora de llegada</mat-label>
                <input matInput placeholder="Hora de llegada" type="text" formControlName="horaLlegada">
                </mat-form-field>

                <mat-form-field class="form__input">
                  <mat-label>Duración de viaje</mat-label>
                  <input matInput placeholder="00:00" type="text" formControlName="hora">
                </mat-form-field>
              
              <!--  -->
            <div class="button-row">
              <button class="float-left" mat-raised-button color="primary" type="submit" >{{ 'save' | translate }}</button>
              <button class="float-right" mat-raised-button color="warn" (click)="onClose()">{{ 'close' | translate }}</button>
            </div>
          </div>
      </form>
    </div>
      