  <!-- <mat-toolbar> -->
    
    <!-- </mat-toolbar> -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <!-- <p class="card-category">Complete los datos de su perfil</p> -->
                    <div class="button-row">
                        <!-- <span class="title" >Detalle del vuelo</span> -->
                        <button class="btn-dialog-close float-right" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
                    </div>
                    <h4 class="card-title">Detalle del vuelo</h4>
                </div>
                <div class="card-body">
                    <div class="mdc-form-field">
                        <form [formGroup]="detailService.form" class="normal-form" (submit)="onSubmit()">
                          <!-- <mat-grid-list cols="3" > -->
                            <!-- <mat-grid-tile> -->
                              <div class="controles-container">
                                <input type="hidden" formControlName="id">
                                <!--  -->
                                <!-- <mat-spinner></mat-spinner> -->
                    
                                <!-- <div class="col-md-12"> -->
                                  <mat-form-field class="form__input">
                                      <mat-label>Nombre del vuelo</mat-label>
                                      <input matInput formControlName="name" placeholder="Nombre del vuelo" type="text" disabled>
                                    </mat-form-field>
                                <!-- </div> -->
                                <mat-form-field class="form__input">
                                  <mat-label>Pais de origen</mat-label>
                                  <input matInput formControlName="countryFrom" placeholder="Pais de origen" type="text" disabled>
                                </mat-form-field>
                                <mat-form-field class="form__input">
                                  <mat-label>Pais de destino</mat-label>
                                  <input matInput formControlName="countryTo" placeholder="Pais de destino" type="text" disabled>
                                </mat-form-field>
                                <mat-form-field class="form__input">
                                  <mat-label>Duracion de vuelo</mat-label>
                                  <input matInput formControlName="hour" placeholder="Duracion de vuelo" type="text" disabled>
                                </mat-form-field>
                                <mat-form-field class="form__input">
                                  <mat-label>Cantidad de pasajeros</mat-label>
                                  <input matInput formControlName="numberPassengers" placeholder="Cantidad de pasajeros" type="text" disabled>
                                </mat-form-field>

                                <!-- <mat-selection-list #shoes> -->
                                    <!-- <mat-list-option *ngFor="let shoe of typesOfShoes"> -->
                                        <!-- <mat-icon matListIcon>person</mat-icon> -->
                                        <!-- <p>  -->
                                            <!-- <i class="material-icons">person</i> <span> {{shoe.name }} {{shoe.lastname}} </span> -->
                                        <!-- </p>  -->
                                    <!-- </mat-list-option> -->
                                  <!-- </mat-selection-list> -->
                                  <!-- <table mat-table [dataSource]="typesOfShoes" class="mat-elevation-z8 demo-table">
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef="typesOfShoes"> Nombre Completo </th>
                                        <td mat-cell *matCellDef="let shoe"> {{shoe.name}} </td>
                                    </ng-container>
                                </table> -->

                                <!-- <mat-list>
                                    <mat-list-item *ngFor="let message of messages">
                                      <mat-icon matListIcon>folder</mat-icon>
                                      <h3 matLine> {{message.from}} </h3>
                                      <p matLine>
                                        <span> {{message.subject}} </span>
                                        <span class="demo-2"> -- {{message.content}} </span>
                                      </p>
                                    </mat-list-item>
                                  </mat-list> -->
                  
                                <div class="button-row">
                                  <!-- <button class="float-left" mat-raised-button color="primary" type="submit" >{{ 'save' | translate }}</button> -->
                                  <button class="float-right" mat-raised-button color="warn" (click)="onClose()">{{ 'close' | translate }}</button>
                                </div>
                              </div>
                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
    
    