<div class="wrapper_custom">
  
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header card-header-danger">
              <h4 class="text-center font-weight-light">{{ 'register_here' | translate }}</h4>
          </div>
          <div class="card-body" >
              <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <mat-label>{{ 'name' | translate }}</mat-label>
                        <input matInput formControlName="name" placeholder="{{ 'name' | translate }}" type="text" >
                        <!-- <div class="alert alert-danger" [hidden]="!error.name">
                          {{error.name}}
                        </div> -->
                        <mat-error *ngIf="form.controls.email.hasError('required')">
                          {{ 'name' | translate }} {{ 'is' | translate }} <strong>{{ 'required' | translate }}</strong>
                        </mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <mat-label>{{ 'email' | translate }}</mat-label>
                        <input matInput formControlName="email" placeholder="{{ 'email' | translate }}" type="email" autocomplete="off">
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
                          {{ 'please' | translate }} {{ 'enter' | translate }} {{ 'a' | translate }} {{ 'email' | translate }} {{ 'valid' | translate }}
                        </mat-error>
                        <mat-error *ngIf="form.controls.email.hasError('required')">
                          {{ 'email' | translate }} {{ 'is' | translate }} <strong>{{ 'required' | translate }}</strong>
                        </mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-md-12">
                      <mat-form-field appearance="fill">
                        <mat-label>{{ 'birthday' | translate }}</mat-label>
                      <!-- #docregion toggle -->
                        <input matInput [matDatepicker]="picker" formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      <!-- #enddocregion toggle -->
                      <mat-error *ngIf="form.controls.birthday.hasError('required')">
                        {{ 'birthday' | translate }} {{ 'is' | translate }} <strong>{{ 'required' | translate }}</strong>
                      </mat-error>
                      </mat-form-field>
                  </div>
                  <!-- <div class="col-md-12">
                      <mat-form-field appearance="fill">
                        <mat-label>{{ 'gender' | translate }}</mat-label>
                        <mat-select formControlName="gender">
                          <mat-option>select one option</mat-option>
                          <mat-option *ngFor="let item of genders" [value]="item.key">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.gender.hasError('required')">
                          {{ 'gender' | translate }} {{ 'is' | translate }} <strong>{{ 'required' | translate }}</strong>
                        </mat-error>
                      </mat-form-field>
                    </div> -->

                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{ 'password' | translate }}</mat-label>
                          <input matInput formControlName="password" type="password" placeholder="Password">
                          <mat-error *ngIf="form.controls.password.hasError('password')">
                            {{ 'password' | translate }} {{ 'is' | translate }} <strong>{{ 'required' | translate }}</strong>
                          </mat-error>
                          
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                          <mat-label>{{ 'confirmed_password' | translate }}</mat-label>
                          <input matInput formControlName="password_confirmation" type="password" placeholder="{{ 'confirmed_password' | translate }}">
                          <mat-error *ngIf="form.controls.password_confirmation.hasError('required')">
                          {{ 'confirmed_password' | translate }} {{ 'is' | translate }} {{ 'required' | translate }}
                          </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <button mat-raised-button type="submit" class="btn btn-primary pull-left" >{{ 'sign_up' | translate }}</button>
                    <!-- <button mat-raised-button type="submit" class="btn btn-primary pull-left" [disabled]="this.form.invalid">Sign up</button> -->
                    <a routerLink="/login" class="btn btn-danger pull-right" >{{ 'back' | translate }}</a>
                  </div>
                </div>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>
</div>


<app-footer></app-footer>

